.poke_list_container {
  padding : 1rem 3rem 0;
}

.poke_list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-gap: 10px;
  width: 100%;
}

.pokemon_card_container {
  padding: 0 10px;
  margin: 40px 0;
  cursor: pointer;
}

.pokemon_card_container .img_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemon_card_container .img_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 1px solid #e8e8e8;
  border-radius: 10px;
  width: 100%;
  height: 10rem;
}

@media(max-width: 768px) {
  .img_wrap img{
    width: 5rem;
    height: 5rem;
  }
}
@media(max-width: 480px) {
  .img_wrap img{
    width: 7rem;
    height: 7rem;
  }
}

.poke-info .poke-txt{
  padding: 10px 18px 0;
  text-align: left;
  margin-bottom: 10px;
}

.poke-info p {
  font-size: 15px;
  font-weight: 400;
  color: #999;
  margin-bottom: 5px;
}

.poke-info h3 {
  font-size : 18px;
}

.poke-info .poke-type{
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.poke-info button {
  flex: 1 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  height: 1.8rem;
  border-radius: 16px;
  border: none;
}

.poke-info span {
  display: inline-block;
  line-height: 1.2rem;
  color: #fff;
  padding-top: 3px;
}