/* * {
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-color: inherit;
  }
  
  body {
    display: flex;
    justify-content: center;
    
    width: 100vw;
    height: 100vh;
  
    overflow-x: hidden;
    overflow-y: scroll;
    line-height: 1;
  } */
  
  ul,
  ol,
  li,
  menu {
    list-style: none;
  }
  
  button,
  input,
  optgroup,
  select,
  textarea {
    color: inherit;
    font: inherit;
    margin: 0;
    background: transparent;
    outline: none;
    border: none;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  
  button,
  select {
    text-transform: none;
    cursor: pointer;
  }
  
  a {
    display: inline;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
  }
  
  @font-face { 
    font-family: "Galmuri14";
    src: url("../assets/fonts/Galmuri14.woff2") format("woff2");
    font-display: swap ;
  }

  * {
    font-family: "Galmuri14", sans-serif;
  }